@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Inter:wght@400;500;600;700&display=swap');

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  
  body {
    @apply font-sans text-slate-600;
  }
}
